<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>datasource_url</param-name>
        <param-value>jdbc/mapdatads</param-value>
    </context-param>
    <context-param>
        <param-name>base_path</param-name>
        <param-value>/opt/osmdata/</param-value>
    </context-param>
    <servlet>
        <servlet-name>Version</servlet-name>
        <servlet-class>data.Version</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileData</servlet-name>
        <servlet-class>data.FileData</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FeatureData</servlet-name>
        <servlet-class>data.FeatureData</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FeatureCollectionData</servlet-name>
        <servlet-class>data.FeatureCollectionData</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FeatureListData</servlet-name>
        <servlet-class>data.FeatureListData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileAccessServlet</servlet-name>
        <servlet-class>intransix.indoor.appengine.FileAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Version</servlet-name>
        <url-pattern>/version/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileData</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FeatureData</servlet-name>
        <url-pattern>/feature/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FeatureCollectionData</servlet-name>
        <url-pattern>/featurecollection/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FeatureListData</servlet-name>
        <url-pattern>/featurelist/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
